{% extends "base.html" %}

{% block content %}
<main>
    <header><h1>whois</h1><span>by cynthia.re</span></header>
    <form action="/whois" method="post">
        <input class="inp" type="text" name="query" id="query">
        <input class="btn" type="submit" value="Submit">
    </form>
    <div>Test query: <a href="/whois/cynthia.re">cynthia.re</a></div>
</main>

<section class="instructions">
    You can submit a query by either using the form above or going to a url in the format of <pre>https://whois.cynthia.re/whois/<b>&lt;query&gt;</b></pre>
</section>

<section class="supporters">
    <h3>Supporters</h3>
    <ul>
        {% for s in supporters %}
        <li>{{ s }}</li>
        {% endfor %}
    </ul>
    <p>If you want you can support me on <a href="https://github.com/sponsors/bitcynth">https://github.com/sponsors/bitcynth</a>.</p>
</section>

<footer>whois.cynthia.re version: {{ version }}</footer>

{% endblock %}