{% extends "base.html" %}

{% block content %}
<h1>WHOIS Cynthia.re</h1>

You can submit a query by either using the form below or going to a url in the format of https://whois.cynthia.re/whois/<b>&lt;query&gt;</b><br>

<br>

Test query: <a href="/whois/cynthia.re">cynthia.re</a><br>

<br>

<form action="/whois" method="post">
    <input type="text" name="query" id="query">
    <input type="submit" value="Submit">
</form>

<br>
<br>

<b>whois.cynthia.re version:</b> {{ version }}

<h3>Supporters</h3>
<ul>
    {% for s in supporters %}
    <li>{{ s }}</li>
    {% endfor %}
</ul>

{% endblock %}